# Python Cache (Sangat penting!)
__pycache__/
*.py[cod]
*$py.class

# Wordlist besar (Agar tidak terkena limit GitHub 100MB)
*.save

# File log dan temporer
*.log
.DS_Store

# Folder virtual environment (Jika ada)
venv/
env/

# ignore everything by default
*

# allow directories
!*/

# allow files with extension
!*.*

# allow specific no-extension files
!install
!compiler
!storm
!LICENSE

# always allow gitignore itself
!.gitignore
