# Python Cache (Sangat penting!)
__pycache__/
*.py[cod]
*$py.class

# Wordlist besar (Agar tidak terkena limit GitHub 100MB)
*.save

# File log dan temporer
*.log
.DS_Store

# Folder virtual environment (Jika ada)
venv/
env/
