# ignore everything by default
*

# allow directories
!*/

# re-ignore unwanted directories
venv/
env/
__pycache__/

# Go modules
go.mod
go.sum

# allow files with extension
!*.*

# allow specific no-extension files
!install
!compiler
!storm
!LICENSE

# logs & temp
*.log
.DS_Store

# python cache
*.py[cod]
*$py.class

# wordlists besar
*.save

# always allow gitignore itself
!.gitignore

