[tool.black]
line-length = 88
target-version = ['py312']

# Forcefully override .gitignore rules
include = '(app/|modules/|lib/).*\.py$'

# Keep the metadata folder safe
exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
)/
'''

